$--baseGrey: #343a40;
#portfolio {
    background: #ebeeee;
    padding-top: 90px;
    padding-bottom: 60px;
    h1 {
        font: 15px/24px 'opensans-semibold', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 48px;
        color: $--baseGrey;
    }
    /* Portfolio Content */
    #portfolio-wrapper {
        display: flex;
        flex-wrap: wrap;
        .portfolio-item {
            margin-bottom: 36px;
            display: flex;
            flex-direction: column;
            &:hover {
                opacity: 1;
                -moz-opacity: 1;
                filter: alpha(opacity=100);
            }
            .item-wrap {
                flex: 1;
                background: #fff;
                overflow: hidden;
                position: relative;
                color: #6e7881;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                .portfolioImg-btn {
                    width: 100%;
                    padding: 0;
                    img {
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
}
