#about {
    background: $baseGrey;
    padding: 6rem 10rem;
    overflow: hidden;
    @media (max-width: 992px) {
        padding: 48px 70px;
    }
    @media (max-width: 768px) {
        padding: 40px 45px;
    }
    & > div {
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    a,
    a:visited {
        color: #fff;
        &:hover,
        &:focus {
            color: #0762f9;
        }
    }
    h2 {
        font: 22px/30px 'opensans-bold', sans-serif;
        color: #fff;
        margin-bottom: 12px;
    }
    p {
        line-height: 30px;
        color: #ccc;
    }
    .contact_details {
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}
