#resume {
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    a {
        color: #0762f9;
        &:visited {
            color: #0762f9;
        }
        &:hover,
        &:focus {
            color: #313131;
        }
    }
    h1 {
        font: 20px 'opensans-bold', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-bottom: 3px solid #0762f9;
        @media (max-width: 576px) {
            font-size: 18px;
        }
    }
    h3,
    h2 {
        font: 24px 'opensans-bold', sans-serif;
        @media (max-width: 576px) {
            font-size: 20px;
        }
    }
    .resume_item {
        &:hover {
            /* each time when pulse animation ends it triggers backInLeft animation */
            animation: pulse 2s;
        }
        .info {
            font: 16px 'librebaskerville-italic', serif;
            color: #6e7881;
            @media (max-width: 576px) {
                font-size: 14px;
            }
            span {
                margin-inline: 5px;
            }
            .date {
                font: 14px 'opensans-regular', sans-serif;
                @media (max-width: 576px) {
                    font-size: 12px;
                }
            }
        }
        .details {
            color: #6e7881;
        }
        .skills {
            margin-top: 36px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            column-gap: 25px;
            row-gap: 50px;
            justify-content: center;
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                &.typescript {
                    color: #3178c6;
                }
                &.react {
                    color: #61dafb;
                }
                &.redux {
                    color: #764abc;
                }
                &.express {
                    color: #444;
                }
                &.node {
                    color: #43853d;
                }
                &.mongodb {
                    color: #13aa52;
                }
                &.solidity {
                    color: #404040;
                }
                &.blockchain {
                    color: #0956bf;
                }
                &.python {
                    color: #4584b6;
                }
                &.bootstrap {
                    color: #712cf9;
                }
                &.scss {
                    color: #c69;
                }
                svg {
                    width: 42px;
                    height: 42px;
                    filter: drop-shadow(2px 2px 2px);
                }
                em {
                    font: 15px 'opensans-bold', sans-serif;
                    color: #313131;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: normal;
                }
            }
        }
    }
}
