footer {
    padding-top: 48px;
    margin-bottom: 48px;
    color: #303030;
    font-size: 14px;
    text-align: center;
    position: relative;
    a {
        color: #bfbfbf;
        &:visited {
            color: #bfbfbf;
        }
        &:hover,
        &:focus {
            color: var(--baseOrange);
        }
    }
    .copyright {
        margin: 0;
        padding: 0;
        color: #808080;
        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            line-height: 24px;
            &:before {
                content: '\2022';
                padding-left: 10px;
                padding-right: 10px;
                color: #095153;
            }
            &:first-child:before {
                display: none;
            }
        }
    }
    .social-links {
        margin: 18px 0 30px 0;
        padding: 0;
        font-size: 30px;
        display: flex;
        justify-content: center;
        gap: 40px;
        li {
            margin: 0;
            &:hover {
                color: var(--baseOrange);
                animation: flip 1s;
            }
        }
    }
    #go-top {
        position: absolute;
        top: -24px;
        left: 50%;
        margin-left: -30px;
        a {
            text-decoration: none;
            border: 0 none;
            display: block;
            width: 60px;
            height: 60px;
            background-color: #525252;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            color: #fff;
            font-size: 21px;
            line-height: 60px;
            border-radius: 100%;
            &:hover {
                background-color: #fe6928;
                color: #0d0d0d;
            }
        }
    }
}
