header {
    &#home {
        background: none;
        position: relative;
        min-height: 500px;
        width: 100%;
        text-align: center;
        overflow: hidden;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        /* primary navigation
        --------------------------------------------------------------------- */
        #nav-wrap {
            position: fixed;
            height: 110px;
            inset: 0;
            .ant-menu {
                flex: 1;
                justify-content: center;
                background: none;
                .ant-menu-item {
                    &:hover {
                        background: none;
                    }
                }
            }
            ul#nav {
                min-height: 48px;
                padding: 0.5rem 0;
                text-align: center;
                align-items: center;
                li {
                    background: none;
                    list-style: none;
                    @media (max-width: 992px) {
                        padding: 0 10px;
                    }
                    .ant-menu-title-content {
                        .nav-btn {
                            color: #fff;
                            &:hover {
                                color: $baseOrange;
                            }
                        }
                    }
                    &.current {
                        a {
                            color: $baseOrange;
                        }
                    }
                    &.ant-menu-overflow-item-rest {
                        margin-bottom: 30px;
                    }
                }
            }
            // &.opaque {
            // background-color: #333;
            // }
        }
        .banner {
            display: inline-block;
            vertical-align: middle;
            margin: 0 auto;
            padding-bottom: 30px;
            text-align: center;
            .banner-text {
                width: 100%;
                h1 {
                    font: 90px/1.1em 'opensans-bold', sans-serif;
                    color: #fff;
                    letter-spacing: -2px;
                    margin: 0 auto 18px auto;
                    animation: fadeInDown 1.5s;
                    @media (max-width: 768px) {
                        font-size: 45px;
                    }
                    @media (max-width: 768px) {
                        font-size: 40px;
                    }
                }
                h2 {
                    font: 25px/2.15em 'librebaskerville-regular', serif;
                    color: #ddd;
                    margin: 0 auto;
                    width: 70%;
                    animation: fadeInDown 1.5s;
                    @media (max-width: 768px) {
                        font-size: 20px;
                    }
                    @media (max-width: 768px) {
                        font-size: 18px;
                    }
                }
                h3 {
                    color: #fff;
                }
                hr {
                    width: 60%;
                    margin: 18px auto 24px auto;
                    border-color: #2f2d2e;
                }
                .social {
                    margin: 24px 0;
                    padding: 0;
                    font-size: 30px;
                    animation: fadeInUp 1.5s;
                    li {
                        display: inline-block;
                        margin: 0 15px;
                        padding: 0;
                        &:hover {
                            animation: flip 1s;
                        }
                        a {
                            color: #fff;
                            &:hover {
                                color: $baseOrange;
                            }
                        }
                    }
                }
            }
        }

        .scrolldown {
            a {
                position: absolute;
                bottom: 30px;
                left: 50%;
                margin-left: -29px;
                color: #fff;
                display: block;
                height: 42px;
                width: 42px;
                font-size: 42px;
                line-height: 42px;
                color: #fff;
                border-radius: 100%;

                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: #fe6928;
                    animation: bounce; /* referring directly to the animation's @keyframe declaration */
                    animation-duration: 1.2s; /* don't forget to set a duration! */
                }
            }
        }
    }
}
.ant-menu-submenu {
    &.nav_menu {
        ul {
            background: none;
            li.ant-menu-item {
                display: flex;
                align-items: center;
                height: 75px;
            }
        }
    }
}
