/*
=====================================================================

   TOC:
   a. General Styles

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
    background: #0f0f0f;
}
.layout {
    background: transparent;
    & > section {
        padding: 6rem 10rem;
        @media (max-width: 992px) {
            padding: 48px 70px;
        }
        @media (max-width: 768px) {
            padding: 40px 45px;
        }
    }
}
.social_links {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    animation: fadeInUp 1.5s;
    li {
        display: inline-block;
        margin: 0 15px;
        padding: 0;
        &:hover {
            animation: flip 1s;
        }
        a {
            color: #fff;
            &:hover {
                color: $baseOrange;
            }
        }
    }
}
.ant-back-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #525252;
    transition: all 0.2s ease-in-out;
    color: #fff;
    font-size: 24px;
    border-radius: 100%;
    &:hover {
        background-color: #fe6928;
        color: #0d0d0d;
        svg {
            animation: fadeInUp 1s; /* referring directly to the animation's @keyframe declaration */
        }
    }
}
