/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
    background: #0f0f0f;
}
.layout {
    background: transparent;
    & > section {
        padding: 6rem 10rem;
        @media (max-width: 992px) {
            padding: 48px 70px;
        }
        @media (max-width: 768px) {
            padding: 40px 45px;
        }
    }
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
    opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
    opacity: 0;
}

#message-warning,
#message-success {
    display: none;
    background: #0f0f0f;
    padding: 24px 24px;
    margin-bottom: 36px;
    width: 65%;
    margin-left: 26%;
}
#message-warning {
    color: #d72828;
}
#message-success {
    color: #0762f9;
}

#message-warning i,
#message-success i {
    margin-right: 10px;
}
#image-loader {
    display: none;
    position: relative;
    left: 18px;
    top: 17px;
}
