/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. About Section
   d. Portfolio Section
   f. Contact Section

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */
:root {
    --baseOrange: #fe6928;
    --baseOrangeHovered: #fe6a2abf;
}
$--baseGrey: #343a40;

body {
    background: #0f0f0f;
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
    background: $--baseGrey;
    padding: 6rem 10rem;
    overflow: hidden;
    a,
    a:visited {
        color: #fff;
        &:hover,
        &:focus {
            color: #0762f9;
        }
    }
    h2 {
        font: 22px/30px 'opensans-bold', sans-serif;
        color: #fff;
        margin-bottom: 12px;
    }
    p {
        line-height: 30px;
        color: #ccc;
    }
    .profile-pic {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }
    .contact-details {
        width: 41.66667%;
    }
    .download {
        width: 58.33333%;
        padding-top: 6px;
    }
    .main-col {
        padding-right: 5%;
    }
    .download .button {
        margin-top: 6px;
        background: #444;
    }

    .download .button:hover {
        background: #fff;
        color: #2b2b2b;
    }

    .download .button i {
        margin-right: 15px;
        font-size: 20px;
    }
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
    opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
    opacity: 0;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
    background: #191919;
    padding-top: 96px;
    padding-bottom: 102px;
    color: #bebebe;
    /* color: #636363; */
}
#contact .section-head {
    margin-bottom: 42px;
}

#contact a,
#contact a:visited {
    color: #0762f9;
}
#contact a:hover,
#contact a:focus {
    color: #fff;
}

#contact h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ebeeee;
    margin-bottom: 6px;
}
#contact h1 span {
    display: none;
}
#contact h1:before {
    font-family: 'FontAwesome';
    content: '\f0e0';
    padding-right: 10px;
    font-size: 72px;
    line-height: 72px;
    text-align: left;
    float: left;
    color: #ebeeee;
}

#contact h4,
#contact h2 {
    font: 16px/24px 'opensans-bold', sans-serif;
    color: #ebeeee;
    margin-bottom: 6px;
}
#contact p.lead {
    font: 18px/36px 'opensans-light', sans-serif;
    padding-right: 3%;
}
#contact .header-col {
    padding-top: 6px;
}

/* contact form */
#contact form {
    margin-bottom: 30px;
}
#contact label {
    font: 15px/24px 'opensans-bold', sans-serif;
    margin: 12px 0;
    color: #ebeeee;
    display: block;
    float: left;
    width: 26%;
}
#contact input,
#contact textarea,
#contact select {
    padding: 10px 20px;
    color: #eee;
    background: #373233;
    margin-bottom: 42px;
    border: 0;
    outline: none;
    font-size: 15px;
    line-height: 24px;
    width: 65%;
}
/* @bug textarea breaks the layout when resized horizontally more than col width  */
#contact textarea {
    /* @fix prevent textarea from stretching in width */
    resize: vertical;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
    color: #000000;
    background-color: #ebeeee;
}
#contact button.submit {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    background: #525252;
    border: none;
    cursor: pointer;
    height: auto;
    display: inline-block;
    border-radius: 0px;
    margin-left: 26%;
}
#contact button.submit:hover {
    color: #0d0d0d;
    background: var(--baseOrange);
}
#contact span.required {
    color: #0762f9;
    font-size: 13px;
}
#message-warning,
#message-success {
    display: none;
    background: #0f0f0f;
    padding: 24px 24px;
    margin-bottom: 36px;
    width: 65%;
    margin-left: 26%;
}
#message-warning {
    color: #d72828;
}
#message-success {
    color: #0762f9;
}

#message-warning i,
#message-success i {
    margin-right: 10px;
}
#image-loader {
    display: none;
    position: relative;
    left: 18px;
    top: 17px;
}
